<li class="comment">
  <div class="body">
    <%= comment.body %>
    <%= link_to 'Add a Reply', new_comment_comment_path(comment) %>
    <br /><%= pluralize(comment.votes.length,"vote" ) %><%= button_to '+1', votes_path(comment_id: comment.id),
    method: :post %>

  </div>

  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>

