<li class="comment">
  <div class="body">
    <%= comment.body %> <br />
    <%= link_to 'Add a Reply', new_comment_comment_path(comment) %>
    <%= pluralize(comment.value,"vote" ) %>
    <%= ( link_to '+1', votes_path(comment_id: comment.id, vote_value: 1), method: :post) %>
    <%= ( link_to '-1', votes_path(comment_id: comment.id, vote_value: -1), method: :post) %>
  </div>

  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>

