<p>THIS IS OUR AWSOME FORM</p>

<%= form_for(@post) do |p| %>

  <div class="field">
    <%= p.label :title %> <br />
    <%= p.text_field :title %>

  </div>

  <div class="field">
    <%= p.label :url %> <br />
    <%= p.text_field :url %>
  </div>

  <div class="actions">
    <%= p.submit %>
  </div>

  <% end %>
