<h1>Today's Top Posts</h1>
<br />

<table>

  <tr>
    <th>Posts</th>
    <th>Urls</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts_sorted.each do |post| %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= link_to post.url, post.url %></td>
      <td><%= pluralize(post.votes.length,"vote" ) %></td>
      <td><%= button_to '+1',
      votes_path(votable_id: post.id, vote_value: 1), method: :post %></td>
      <td><%= button_to '-1',
      votes_path(votable_id: post.id, vote_value: -1), method: :post %></td>

      <% if signed_in? && current_user == post.user %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Delete', post, method: :delete, data:{confirm: 'Are you sure?' }%></td>
      <% end %>
    </tr>

  <% end %>
</table>


    <%= paginate @posts_sorted %>


<br /> <b><%= link_to 'Submit a new Post!', new_post_path %></b>
<br />
