<% if signed_in? %>
<%= link_to "Sign OUT now!", signout_path, class: "btn btn-large btn-primary" %>
<% else %>
<%= link_to "Sign IN now!", signin_path, class: "btn btn-large btn-primary" %>
<% end %>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>


<table>

  <tr>
    <th>Posts</th>
    <th>Urls</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts_sorted.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.url %></td>
      <td><%= pluralize(post.votes.length, "vote") %></td>
      <td><%= button_to '+1',


      votes_path(post_id: post.id), method: :post %></td>
      <td><%= link_to 'Show', post%></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data:{confirm: 'Are you sure?' }%></td>
    </tr>

  <% end %>
</table>

<%= paginate @posts %>



<br /> <%= link_to 'Submit a new Post!', new_post_path %>
