<p id= "notice"><%= notice %>
<p>
  <h2> <%= @post.title %> </h2>
</p>

<h3> <%= @post.url %> </h3>

<br />
<b><p>Comments:</p></b>

<p><%= link_to 'Add a Comment', new_post_comment_path(@post) %></p>

<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>

<br />
<%= link_to 'Back To All Posts', posts_path %>

<br /> <%= link_to 'Submit a BRAND NEW Post!', new_post_path %>