<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p id= "notice"><%= notice %>
<p>
  <b> Title </b>
  <%= @post.title %>
</p>
<p>
  <b> Url </b>
   <%= @post.url %>
</p>
<h2>Comments</h2>
<p><%= link_to 'Add a Comment', new_post_comment_path(@post) %></p>
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>

<br /> <%= link_to 'Submit a new Post!', new_post_path %>