<p id= "notice"><%= notice %>
<h2> <%= @post.title %> </h2>
<h3> <%= link_to @post.url, @post.url %> </h3>
<%= 'Submitted by: ' %>
<%= @post.author %>
<br />
<br />
<b><p>Comments:</p></b>

<p><%= link_to 'Add a Comment', new_post_comment_path(@post) %></p>

<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>

<br />
<b><%= link_to 'Back To All Posts', posts_path %></b>

<br /> <%= link_to 'Submit a BRAND NEW Post!', new_post_path %>